[Unit]
Description=Initial cloud-init job (metadata service crawler)
After=network.target cloud-init-local.service
Before=sshd.service sshd-keygen.service configd.service
Requires=network.target
Wants=cloud-init-local.service sshd.service sshd-keygen.service
ConditionKernelCommandLine=cloud-init
# Triggered by IP auto-configuration
ConditionPathExistsGlob=|/run/net-*.conf
# Triggered by cloud-init-local
ConditionFileNotEmpty=|/var/lib/cloud/instance/datasource

[Service]
Type=oneshot
ExecStart=/usr/bin/cloud-init init
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
